@media screen and (max-width: 800px) {
  #introduction-frame {
    position: absolute;
    top: -14em;
  }

  .mainContainer button .icon {
    left: 5%;
  }

  .mainContainer button .title {
    width: 5.8em;
    height: 0.8em;
    word-break:break-all;
    overflow: scroll;
  }
}