@use "structure";

.highlight {
  color: rgb(0, 34, 255)
}


.buttonAnim {
  transition: background-color 0.5s ease;
}


#pages-frame {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  position: absolute;
  background-color: rgb(1, 2, 37);
  width: 100%;
  height: 20em;
  overflow: hidden;
  .ch1 {
    margin-top: 0.3em;
    margin-left: 0.6em;
  }
  button {
    position: absolute;
    top: 5em;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1em;
    width: 95%;
    box-shadow: 2px 2px 20px black;
    transition: box-shadow 0.5s ease;
    svg {
      position: inherit;
      fill: white;
      width: 2.5em;
      height: auto;
      left: 1em;
      top: 50%;
      transform: translateY(-50%);
    }
    .title {
      position: inherit;
      font-size: 2em;
      left: 2em;
      top: -0.6em;
    }
    .description {
      font-family: poppins-regular;
      position: inherit;
      text-align: left;
      font-size: 0.8em;
      left: 5em;
      top: 2em;
      color: rgb(220, 227, 255);
      line-height: 1em;
    }
  }
}

#contact-frame {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 65em;
  left: 0;
  .ch1 {
    margin-left: 0.6em;
  }
  .description {
    font-family: poppins-regular;
    color: rgb(220, 227, 255);
    margin-left: 3em;
  }
  div {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    width: 100%;
    font-size: 2em;
    margin-left: 1.0em;
    a {
      position: relative;
      top: 0.2em;
      svg {
        fill: white;
        height: 2em;
        margin-left: 1em;
        margin-right: 1em;
        transition: fill 0.5s ease, transform 0.5s ease;
        font-size: 0.5em;
      }
    }
    #tiktokIcon svg {
      margin-bottom: 0.1em;
      height: 1.7em;
    }
    #paypalIcon svg {
      height: 1.9em;
    }
    #kofiIcon svg {
      height: 2.2em;
    }
    #curseforgeIcon svg {
      margin-bottom: -0.15em;
      height: 2.5em;
    }
  }
}